node_modules
dist
.next
.turbo
uploads
*.log
.DS_Store
.expo
android
ios
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

apps/*/.env
apps/*/.env.*
!apps/*/.env.example

packages/*/.env
packages/*/.env.*
!packages/*/.env.example